@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: gray;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px thin gray;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
}

* {
    scroll-behavior: smooth;
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    text-align: center;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1em;
    min-height: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > :focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.dropdown .dropdown-content {
    visibility: hidden;
    position: absolute;
    z-index: 50;
    opacity: 0;
    transform-origin: top;
    --tw-scale-x: 0.95;
    --tw-scale-y: 0.95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-end .dropdown-content {
    right: 0;
}

.dropdown-left .dropdown-content {
    top: 0;
    right: 100%;
    bottom: auto;
    transform-origin: right;
}

.dropdown-right .dropdown-content {
    left: 100%;
    top: 0;
    bottom: auto;
    transform-origin: left;
}

.dropdown-bottom .dropdown-content {
    bottom: auto;
    top: 100%;
    transform-origin: top;
}

.dropdown-top .dropdown-content {
    bottom: 100%;
    top: auto;
    transform-origin: bottom;
}

.dropdown-end.dropdown-left .dropdown-content,
.dropdown-end.dropdown-right .dropdown-content {
    bottom: 0;
    top: auto;
}

.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:not(.dropdown-hover):focus-within .dropdown-content {
    visibility: visible;
    opacity: 1;
}
.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu.horizontal {
    display: inline-flex;
    flex-direction: row;
}

.menu.horizontal :where(li) {
    flex-direction: row;
}

:where(.menu li) {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu :where(li:not(.menu-title)) > :where(:not(ul)) {
    display: flex;
}

.menu :where(li:not(.disabled):not(.menu-title)) > :where(:not(ul)) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.menu > :where(li > :not(ul):focus) {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.menu > :where(li.disabled > :not(ul):focus) {
    cursor: auto;
}

.menu > :where(li) :where(ul) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menu > :where(li) > :where(ul) {
    position: absolute;
    display: none;
    top: auto;
    left: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.menu > :where(li:hover) > :where(ul) {
    display: flex;
}

.menu > :where(li:focus) > :where(ul) {
    display: flex;
}
