@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background: gray;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px thin gray;
} */

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
}

* {
    scroll-behavior: smooth;
}

.btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    text-align: center;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1em;
    min-height: 3rem;
    font-weight: 600;
}

.btn-card {
    background: #ededed;
    background-image: -webkit-linear-gradient(top, #ededed, #dedede);
    background-image: -moz-linear-gradient(top, #ededed, #dedede);
    background-image: -ms-linear-gradient(top, #ededed, #dedede);
    background-image: -o-linear-gradient(top, #ededed, #dedede);
    background-image: linear-gradient(to bottom, #ededed, #dedede);
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.btn-card:hover {
    background: #eff1f2;
    background-image: -webkit-linear-gradient(top, #eff1f2, #d6d6d6);
    background-image: -moz-linear-gradient(top, #eff1f2, #d6d6d6);
    background-image: -ms-linear-gradient(top, #eff1f2, #d6d6d6);
    background-image: -o-linear-gradient(top, #eff1f2, #d6d6d6);
    background-image: linear-gradient(to bottom, #eff1f2, #d6d6d6);
    text-decoration: none;
}
